
    <div class="card">
     

     <div class="task">
        <div class="tags">
          <span class="tag"><span>{{roomName}}</span></span>
        
        </div>
    </div>
        <div class="card-body">
            <div class="btn-grid">
                <div class="button-container">
                    <button class="btn w-100 btn"  (click)="toogleLight(roomName)">
                        <i class="bi bi-lightbulb indicator" [ngClass]="{'active': Light, ' ': !Light}" style="font-size:30px;"></i>   <p class="btn-label w-100">light</p>
                    </button>
                  
                    <div class="indicator" [ngClass]="{'active': Light, ' ': !Light}"></div>
                </div>
                <div class="button-container">
                    <button class="btn w-100 btn" (click)="tooglePlug(roomName)">
                        <i class="bi bi-plug-fill indicator" [ngClass]="{'active': Plug, ' ': !Plug}" style="font-size:30px;"></i>
                          <p class="btn-label w-100">plug</p>
                    </button>
                  
                    <div class="indicator" [ngClass]="{'active': Plug, ' ': !Plug}"></div>
                </div>
                


                <div class="task">
                    <div class="tags">
                      <span class="tag"><span> <i class="bi bi-thermometer-half"></i>Temp | {{temp}}°C</span></span>
                    
                    </div>
                </div>

                <div class="task">
                    <div class="tags">
                      <span class="tag"><span><i class="bi bi-moisture"></i> Hum | {{Humidity}}%</span></span>
                    
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
    

    
